body {
    background-color: #f8f9fa;
  }
  
  .navbar-brand {
    font-family: 'Arial Black', sans-serif;
    font-size: 24px;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  
  h4 {
    margin-bottom: 20px;
  }
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .ml-auto > .nav-link {
    color: white;
    margin-right: 15px;
  }
  
  .ml-auto > .nav-link:hover {
    color: #ffdd00;
  }
  
  .card {
    border: none;
  }
  